/user_interface/node_modules/*
/user_interface/bootstrap.min.css
/user_interface/bootstrap.min.js
/user_interface/jquery.min.js
/user_interface/popper.min.js
/django_server/cards/__pycache__/*
/django_server/server/__pycache__/*
/django_server/cards/migrations/__pycache__/*
TODO.md
/presentation/*
!*.tex
