/user_interface/node_modules/*
/user_interface/lib/*
/django_server/cards/__pycache__/*
/django_server/server/__pycache__/*
/django_server/cards/migrations/__pycache__/*
TODO.md
/presentation/*
!*.tex
