<style>
    table, th, td {
        margin: 20px;
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
{% if cards_list %}
    <table>
        <tr><th>Card id</th><th><b>Front</b></th><th><b>Back</b></th></tr>
        {% for card in cards_list %}
            <tr><td>{{ card.id }}</td><td>{{ card.get_front }}</td><td>{{ card.get_back }}</td></tr>
        {% endfor %}
    </table>
{% else %}
    <p>There are no cards in this tag yet.</p>
{% endif %}